.th, td{
    padding-inline: 30px;
  }
  .bg{
    background-image: url('./Images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
table{
  text-align: center;
}  
.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 20%;
}
.box{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 800px;
  height: 150px;
  border: 5px solid black;
  padding: 50px;
  border-radius: 25px;
}